@import "../fonts/playfairdisplay/font.css";

/*
@import "../fonts/opensans/font.css";
*/

body{
  font-family: 'Playfair Display';
  font-weight: normal;
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) {
  .mfp-arrow-left{
    left: -70px;
  }
  .mfp-arrow-right {
    right: -70px;
  }
}
